@font-face {
  font-family: 'Sketch Block';
  src: url("fonts/Sketch_Block.ttf");
}

@font-face {
  font-family: 'Bebas Neue';
  src: url("fonts/BebasNeue.otf");
}

.reveal .introduction {
  color: #333333;
}

.reveal .introduction h1 {
  color: #333333;
  font-size: 2.7em;
  font-family: 'Sketch Block';
}

.reveal .introduction h2,
.reveal .introduction h3,
.reveal .introduction h4,
.reveal .introduction h5,
.reveal .introduction h6 {
  color: #333333;
  font-family: 'Bebas Neue';
}
.reveal .content {
  color: #EAEAEA;
}

.reveal .content h1 {
  color: #EAEAEA;
  font-size: 2.7em;
  font-family: 'Sketch Block';
}

.reveal .full-background h1 {
  color: #EAEAEA;
  font-size: 2.7em;
  font-family: 'Sketch Block';
}

.reveal .full-background h2 {
  color: #EAEAEA;
  font-family: 'Sketch Block';
}

.reveal .content h2,
.reveal .content h3,
.reveal .content h4,
.reveal .content h5,
.reveal .content h6 {
  color: #EAEAEA;
  font-family: 'Bebas Neue';
}

.reveal .important {
  color: #EAEAEA;
}

.reveal .important h1 {
  color: #EAEAEA;
  font-size: 2.7em;
  font-family: 'Sketch Block';
}

.reveal .important h2,
.reveal .important h3,
.reveal .important h4,
.reveal .important h5,
.reveal .important h6 {
  color: #EAEAEA;
  font-family: 'Bebas Neue';
}

.reveal h2.sketchy,
.reveal h3.sketchy {
  font-family: 'Sketch Block';
}

.reveal .links li {
  font-size: 0.8em;
  line-height: 1.2em;
}

.reveal h1.wheat,
.reveal h2.wheat {
  color: #FFE580;
}

.reveal h1.gears,
.reveal h2.gears {
  color: #FFFFFF;
}

.reveal h1.it,
.reveal h2.it {
  color: #FF5A5A;
}

.reveal blockquote {
  padding: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.reveal blockquote:before {
  color: #EAEAEA;
  content: "\201C";
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.reveal .logo {
  width: 250px;
  height: 120px;
  padding: 5px 15px;
}

.reveal .main-logo {
  width: 200px;
}