<!DOCTYPE html>
<html>
  <head>
    <title>.NET 4.5</title>
    <meta charset='utf-8'>
    <script src='../slides.js'></script>
  </head>

  <body style='display: none'>
    <section class='slides layout-regular template-default'>
        <article class='title'>
            <h1>
                .NET 4.5
            </h1>
            <h3>
                ... czyli co nas czeka w Windows 8
            </h3>
            <p>                
                Korneliusz Caputa<br/>
                Wojtek Gawroński<br/><br/>
                29.11.2011
            </p>
        </article>
      
        <article class="content">
            <h1>
                Agenda
            </h1>
            <ul class="nice">
                <li>Async</li>
                <li>ASP.NET MVC 4</li>
                <li>Metro Style Apps</li>
            </ul>
        </article>

        <article class="content">    
            <h1>
                Timeline
            </h1>
            <ul class="nice build">
                <li>13-16.09.2011 - BUILD Conference</li>
                <li>Październik 2011 - Roslyn CTP, ASP.NET MVC 4 ...</li>
                <li>Q1 2012 - Dell Tablet for Windows 8 (?)</li>
				<li>Czerwiec 2012 - Release Microsoft Windows 8 (?)</li>
            </ul>
        </article>
		
        <article class="content">    
            <h1>
                Async
            </h1>
			<p>
				Rozszerzenie języków programowania, które jest odpowiedzią na problemy widoczne w obecnym oprogramowaniu.
			</p>
        </article>		

        <article class="content">    
            <h1>
                Problemy
            </h1>
			<ul class="nice build">
				<li>Równoległość</li>
				<li>Usługi dostępne w chmurze</li>
				<li class="build">Opoźnienia<span> = Brak responsywności</span></li>
				<li>Jakość połączenia internetowego</li>
			</ul>
        </article>		
		
        <article class="content">    
            <h1>
                Sync<br/>Multithreading<br/>Aync
            </h1>		
		</article>

		<article class="content">    
            <h1>
                Sync
            </h1>		
			<ul class="build">
				<li>Wykonujemy telefon do pomocy technicznej</li>
				<li>Zgłasza się automat i ...</li>
				<li>Czekam.</li>
				<li>Czekam..</li>
				<li>Czekam...</li>
			</ul>
		</article>
		
		<article class="content">    
            <h1>
                Efekt?
            </h1>		
			<h2 class="build">
				<span>Mój interfejs jest zablokowany ;)</span>
			</h2>
		</article>

		<article class="content">    
            <h1>
                Multithreading
            </h1>		
			<ul class="build">
				<li>Wykonujemy identyczny telefon...</li>
				<li>... ale tym razem włączam tryb głośnomówiący</li>
				<li>... i mogę się zająć czymś innym ;)</li>
			</ul>
		</article>
		
		<article class="content">    
            <h1>
                Efekt?
            </h1>		
			<h2 class="build">
				<span>Nie jestem zablokowany ale muszę poświęcić swój czas i zasoby na synchronizację</span>
			</h2>
		</article>		
		
		<article class="content">    
            <h1>
                Async
            </h1>		
			<ul class="build">
				<li>Wykonujemy identyczny telefon, ale...</li>
				<li>... automat prosi Nas o pozostawienie numeru telefonu</li>
				<li>... na który pomoc oddzwoni po 20 minutach</li>
			</ul>
		</article>
		
		<article class="content">    
            <h1>
                Efekt?
            </h1>		
			<h2 class="build">
				<span>Za kontynuację zadania odpowiada osoba do której dzwonimy ;)</span>
			</h2>
		</article>			
		
		<article class="content">    
            <h1 class="build">
                Continuation <span>= Callback</span>
            </h1>		
			<p class="build">
				Akcja, która wykonuje się w ramach powrotu z zakończonego zadania.
			</p>
		</article>		

		<article class="content">    
            <h1 class="build">
                Opóźnienia <i>(ang. latency)</i>
            </h1>		
			<ul class="build nice">
				<li>Spowodowane przez I/O</li>
				<li>Spowodowane przez obliczenia</li>
			</ul>
		</article>		
		
		<article class="content">    
            <h1>
                Rozszerzanie języka
            </h1>		
			<ul class="build nice">
				<li>...</li>
				<li>CLR 4 - Parallel Programming</li>
				<li>CLR 5 - Asynchronous Programming</li>
			</ul>
		</article>			
		
		<article class="content">    
            <h1>
                Konkretne rozwiązania
            </h1>		
			<ul class="build nice">
				<li>Reactive Extensions - <i>programowanie funkcyjne</i></li>
				<li>Async - <i>programowanie imperatywne</i></li>
			</ul>
		</article>

		<article class="content">    
            <h1>
                Async - językowe detale
            </h1>		
			<ul class="build nice">
				<li><b>await</b></li>
				<li><b>async</b></li>
				<li><b>ITask</b></li>
			</ul>
		</article>			
		
        <article class="demo">    
            <h1>
                demo: Async vs Sync
            </h1>
            <p>
                ... czyli różnice w praktyce ...
            </p>
        </article>
		
		<article class="content">    
            <h1>
                <div style='float: left;'>ASP.NET WebForms</div>
				<div style='float: left; margin-left: 50%; margin-top: 10px; margin-bottom: 15px;'>vs</div>
				<div style='float: right; margin-right: -20px;'>ASP.NET MVC</div>
            </h1>			
		</article>

		<article class="content">    
            <h1>
                Rozliczenie<br/> ASP.NET WebForms
            </h1>			
			<ul class="nolist build">
				<li>+ Znany model aplikacji</li>
				<li>- Czy odpowiedni dla internetu?</li>
				<li>- Ilość przesyłanych danych</li>
				<li>- Nie nadążanie za standardami</li>
				<li>- Słaby podział odpowiedzialności</li>
				<li>- Niska testowalność</li>
			</ul>
		</article>

		<article class="content">    
            <h1>
                Rozliczenie<br/> ASP.NET MVC
            </h1>			
			<ul class="nolist build">
				<li>+ Luźne powiązanie odpowiedzialności</li>
				<li>+ Skalowalność i modularność</li>
				<li>+ Akcje zamiast zdarzeń</li>
				<li>+ Routing (<i>REST</i>, <i>SEO</i>)</li>
			</ul>
		</article>
		
		<article class="content">    
            <h1>
                Modernizr
            </h1>			
			<p>
				Framework wspomagajacy utrzymanie jednolitego wygladu UI w starych przegladarkach.
			</p>
		</article>	

		<article class="content">    
            <h1>
                Modernizr - przykład
            </h1>			
			<pre>
.no-js .glossy,
.no-cssgradients .glossy {
	background: url("images/glossy.png");
}
				
.cssgradients .glossy {
	background-image: linear-gradient(top, #555, #333);
	}
			</pre>
		</article>	

        <article class="content">
            <h1>
                Urządzenia mobilne
            </h1>
			<ul class="build nice">
				<li class="build">Nowe wymagania dla UI<span> &rarr; Adaptive Rendering</span></li>
				<li>CSS3 Media Queries</li>
			</ul>
        </article>
		
        <article class="content">
            <h1>
                Problemy?
            </h1>
        </article>	

		<article class="content">
            <h1>
                Rozwiązanie!
            </h1>
			<h2>
				Display Modes
			</h2>
        </article>
		
        <article class="demo">    
            <h1>
                demo: ASP.NET MVC 4
            </h1>
            <p>
                ... jQuery Mobile, CSS3, NuGet ...
            </p>
        </article>
		
		<article class="content">
            <h1>
                jQuery Mobile - Zalety
            </h1>
			<ul class="build nolist">
				<li>+ Maksymalna elastyczność</li>
				<li>+ Optymalizacja transferu</li>
				<li>- Powtarzalny kod szablonów</li>
			</ul>
        </article>		
		
		<article class="content">
            <h1>
                NuGet
            </h1>
			<h2 class="build">
				<span>Stale aktualne źródła i referencje.</span> 
			</h2>
        </article>

		<article class="content">
            <h1>
                NuGet - nowe biblioteki
            </h1>
			<h2 class="build">
				<span>Rozszerzenie projektu wymaga <br/>tylko kilku kliknięć.</span> 
			</h2>
        </article>			
		
		<article class="content">
            <h1>
                NuGet - uniwersalność
            </h1>
			<h2 class="build">
				<span>Obsługa z linii komend lub przyjazne GUI.</span> 
			</h2>
        </article>					
		
		<article class="content">
            <h1 style='font-size: 600%'>
                Metro UI
            </h1>
			<h2>
				... nowa jakość aplikacji
			</h2>
        </article>

		<article class="content">
            <h1>
                Metro UI - otoczka
            </h1>
			<ul class="build nice">
				<li>Spójny styl - <i>less is more</i></li>
				<li>Filled, Snapped i Fullscreen</li>
				<li><i>Immersive, responsive, interactive and fullscreen apps</i></li>
			</ul>
        </article>
		
        <article class="demo">    
            <h1>
                demo: Metro UI
            </h1>
            <p>
                ...tryby wyświetlania, <i>Metro Styled Apps</i>...
            </p>
        </article>		
		
		<article class="content">
            <h1>
                Metro UI<br/>
				wnętrze
            </h1>
			<h2 style="font-size: 120%">
				... czyli to co programiści lubią najbardziej ;)
			</h2>
        </article>		
		
		<article class="content">
			<h1>
                <div style='float: left;'>Platforma</div>
				<div style='float: left;margin-left: 50%;margin-top: 10px;margin-bottom: 15px;width: 100%;'>i</div>
				<div style='float: right; margin-right: -20px;'>Narzędzia</div>
			</h1>
        </article>		
		
		<article class="content">
            <img style="width: 100%; height: 80%" alt="MetroUI Platform" src="images/platform.png" />
        </article>				

		<article class="content">
            <h1>
				WinRT <i style='font-size: 80%'>(ang. Windows Run-Time)</i>
            </h1>
			<ul class="build nice">
				<li><i>Native bindings</i></li>
				<li>Brak pętli komunikatów, okien dialogowych i GDI</li>
				<li>Tylko DirectX</li>
				<li>WinRTComponent</li>
				<li>Portable Libraries</li>
			</ul>
        </article>	
		
		<article class="content">
            <h1 style='font-size: 150%'>
				Wszystkie wywołania API które trwają więcej niż 50 ms są wywołaniami asynchronicznymi <i>(nieblokującymi)</i>.
            </h1>	
        </article>	
		
		<article class="content">
            <h1>
				Budowa - nowości
            </h1>
			<ul class="build nice">
				<li>Nowy profil aplikacji</li>
				<li>Nowy <i>AppExecutionEnvironment</i></li>
				<li>Aplikacje są paczkowane (<i>AppXManifest</i>)</li>
				<li>Instalator jest tworzony razem z paczką</li>
			</ul>
        </article>			
		
		<article class="content">
            <h1>
                Kontrolki
            </h1>
			<h2 style="font-size: 120%">
				... podstawowe cegiełki
			</h2>			
        </article>		
		
		<article class="content">
            <img style="width: 110%;height: 80%;margin-left: -37px;" alt="MetroUI Controls" src="images/controls.png" />
        </article>	

		<article class="content">
            <h1>
				Internet Explorer 10
            </h1>
			<ul class="build nice">
				<li>Najbardziej zaawansowany silnik HTML5 i CSS3</li>
				<li>Zaimplementowane nawet szkice standardów</li>
				<li>Jeszcze wydajniejszy silnik JavaScript</li>
				<li>Naturalne środowisko dla aplikacji Metro UI</li>
			</ul>
        </article>				
		
        <article class="demo">    
            <h1>
                demo: WinRT
            </h1>
            <p>
                ...przykładowa aplikacja w JavaScript, Expression Blend 5...
            </p>
        </article>		
		
		<article class="content">
            <h1>
				Linki:
            </h1>
			<ul class="links">
				<li><span>http://jqueryui.com/</span></li>
				<li><span>http://jquerymobile.com/</span></li>
				<li><span>http://dev.windows.com</span></li>
				<li><span>http://www.buildwindows.com/</span></li>
			</ul>
        </article>			

        <article class="content">
            <h1>
                Dziękujemy za uwagę :)
            </h1>
        </article>
    </section>

  </body>
</html>