@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body {
    font-family: 'Droid Serif';
}

h1, h2, h3 {
    font-family: 'Yanone Kaffeesatz';
    font-weight: normal;
}

.remark-code, .remark-inline-code {
    font-family: 'Ubuntu Mono';
}

img[alt*="Logo"] {
    vertical-align: middle;
    width: 150px;
}

img[alt="NodeSchool Silesia Logo"] {
    width: 100px;
    margin: 50px;
}

.emoji {
    width: 0.8em;
    vertical-align: middle;
}

img[alt*="Banner"] {
    width: 320px;
}

.logos {
    margin-left: 50px;
}

.book-covers img {
    width: 150px;
}

.diagram {
    width: 420px;
}

.images {
    width: 100%;
    text-align: center;
    display: block;
}

.cern-evaluation {
    width: 250px;
}