@font-face {
  font-family: 'Kaushan Script';
  src: url("fonts/KaushanScript.ttf");
}

@font-face {
  font-family: 'Comfortaa';
  src: url("fonts/Comfortaa.ttf");
}

@font-face {
  font-family: 'Black Ops One';
  src: url("fonts/BlackOpsOne.ttf");
}

.reveal .header {
  color: #FFFFFF;
}

.reveal .header h1 {
  color: #FFFFFF;
  font-size: 2.7em;
  font-family: 'Kaushan Script';
}

.reveal .left {
  float: left;
}

.reveal .right {
  float: right;
}

.reveal .half-size {
  width: 48%;
}

.reveal .half-size ul {
  width: 100%;
}

.reveal .header h2,
.reveal .header h3,
.reveal .header h4,
.reveal .header h5,
.reveal .header h6 {
  color: #FFFFFF;
  font-family: 'Comfortaa';
}
.reveal .content {
  color: #484E5D;
}

.reveal .content h1 {
  color: #484E5D;
  font-size: 2.7em;
  font-family: 'Kaushan Script';
  margin-bottom: 40px;
}

.reveal .content h2,
.reveal .content h3,
.reveal .content h4,
.reveal .content h5,
.reveal .content h6 {
  color: #484E5D;
  font-family: 'Comfortaa';
}

.reveal .important {
  color: #FFFFFF;
}

.reveal .important h1 {
  color: #FFFFFF;
  font-size: 2.7em;
  font-family: 'Comfortaa';
}

.reveal .important h2,
.reveal .important h3,
.reveal .important h4,
.reveal .important h5,
.reveal .important h6 {
  color: #FFFFFF;
  font-family: 'Comfortaa';
}

.reveal .full-background h1 {
  color: #FFFFFF;
  font-size: 2.7em;
  font-family: 'Kaushan Script';
}

.reveal .full-background h2 {
  color: #FFFFFF;
  font-family: 'Kaushan Script';
}

.reveal .links {
  margin-bottom: 20px;
}

.reveal .links li {
  font-size: 0.8em;
  line-height: 1.2em;
}

.reveal blockquote {
  padding: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.reveal blockquote:before {
  color: #FFFFFF;
  content: "\201C";
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.reveal .logo {
  width: 250px;
  min-height: 120px;
  padding: 5px 15px;
  vertical-align: middle;
}

.reveal .main-logo {
  width: 200px;
}

.reveal .smaller-logo {
  width: 150px;
  padding: 15px 15px 14px 15px;
}

.reveal .small-logo {
  padding: 26px 25px 25px 24px;
}

.reveal .cover {
  width: 300px;
  padding: 15px;
}

.reveal .cloud {
  list-style-type: none;
  margin-top: 50px;
}

.reveal .cloud li {
  float: left;
  font-family: 'Comfortaa';
}

.reveal .cloud .size1 {
  padding: 12px;
}

.reveal .cloud .size2 {
  padding: 20px;
}

.reveal .cloud .size3 {
  padding: 2px;
}

.reveal .cloud .size4 {
  padding: 8px;
}

.reveal .huge {
  font-size: 3em;
}
