@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body {
  font-family: 'Droid Serif';
}

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}

.remark-code, .remark-inline-code {
  font-family: 'Ubuntu Mono';
}

.footer {
  margin-top: 120px;
}

.smaller {
  font-size: 80%;
}

img[alt*=" Logo"] {
  width: 200px;
}

img[alt*="Ruby Logo"] {
  padding-right: 10px;
}

.centered {
  margin-top: 60px;

  width: 100%;
  text-align: center;

  display: inline-block;
}

.huge {
  font-family: 'Yanone Kaffeesatz';

  font-size: 500%;
  margin-top: 200px;

  display: inline-block;

  width: 100%;
  text-align: center;
}

.credits {
  margin-top: 120px;
  margin-left: 100px;
}
